@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown color-white" style="position: relative; left: 30px;">
            <div class="d-flex align-items-center">
                <a class="nav-link dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://cdn.iconscout.com/icon/free/png-512/free-profile-3409120-2841252.png" class="img-rounded" alt="ICON" style="max-width: 30px; height: 30px;" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tài khoản</a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="dropdown-item">Đăng xuất</button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item" style="position: relative; left: 30px;">
            <a class="" id="login" asp-area="Identity" asp-page="/Account/Login">
                <img src="https://cdn.iconscout.com/icon/free/png-512/free-profile-3409120-2841252.png" class="img-rounded mx-auto d-block" alt="ICON" style="max-width: 30px; height: 30px;">
            </a>
        </li>

    }
</ul></ul>

